In [1]:
from pathlib import Path
import os

dataset_folder = Path(".") / "dataset"

if not os.path.exists(dataset_folder):
    import utils
    utils.download_dataset()

In [2]:
import polars as pl

In [3]:
data = pl.read_csv("dataset/train.csv")

In [4]:
data.shape

(1200000, 21)

In [5]:
data.head()

shape: (5, 21)
┌─────┬──────┬────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ id  ┆ Age  ┆ Gender ┆ Annual    ┆ … ┆ Smoking   ┆ Exercise  ┆ Property  ┆ Premium   │
│ --- ┆ ---  ┆ ---    ┆ Income    ┆   ┆ Status    ┆ Frequency ┆ Type      ┆ Amount    │
│ i64 ┆ f64  ┆ str    ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│     ┆      ┆        ┆ f64       ┆   ┆ str       ┆ str       ┆ str       ┆ f64       │
╞═════╪══════╪════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 0   ┆ 19.0 ┆ Female ┆ 10049.0   ┆ … ┆ No        ┆ Weekly    ┆ House     ┆ 2869.0    │
│ 1   ┆ 39.0 ┆ Female ┆ 31678.0   ┆ … ┆ Yes       ┆ Monthly   ┆ House     ┆ 1483.0    │
│ 2   ┆ 23.0 ┆ Male   ┆ 25602.0   ┆ … ┆ Yes       ┆ Weekly    ┆ House     ┆ 567.0     │
│ 3   ┆ 21.0 ┆ Male   ┆ 141855.0  ┆ … ┆ Yes       ┆ Daily     ┆ Apartment ┆ 765.0     │
│ 4   ┆ 21.0 ┆ Male   ┆ 39651.0   ┆ … ┆ Yes       ┆ Weekly    ┆ House     ┆ 2022.0    │
└─────┴──────┴────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [6]:
data.null_count()

shape: (1, 21)
┌─────┬───────┬────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ id  ┆ Age   ┆ Gender ┆ Annual    ┆ … ┆ Smoking   ┆ Exercise  ┆ Property  ┆ Premium  │
│ --- ┆ ---   ┆ ---    ┆ Income    ┆   ┆ Status    ┆ Frequency ┆ Type      ┆ Amount   │
│ u32 ┆ u32   ┆ u32    ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│     ┆       ┆        ┆ u32       ┆   ┆ u32       ┆ u32       ┆ u32       ┆ u32      │
╞═════╪═══════╪════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 0   ┆ 18705 ┆ 0      ┆ 44949     ┆ … ┆ 0         ┆ 0         ┆ 0         ┆ 0        │
└─────┴───────┴────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [7]:
data.describe()

shape: (9, 22)
┌──────────┬──────────┬─────────┬─────────┬───┬─────────┬─────────┬─────────┬─────────┐
│ statisti ┆ id       ┆ Age     ┆ Gender  ┆ … ┆ Smoking ┆ Exercis ┆ Propert ┆ Premium │
│ c        ┆ ---      ┆ ---     ┆ ---     ┆   ┆ Status  ┆ e Frequ ┆ y Type  ┆ Amount  │
│ ---      ┆ f64      ┆ f64     ┆ str     ┆   ┆ ---     ┆ ency    ┆ ---     ┆ ---     │
│ str      ┆          ┆         ┆         ┆   ┆ str     ┆ ---     ┆ str     ┆ f64     │
│          ┆          ┆         ┆         ┆   ┆         ┆ str     ┆         ┆         │
╞══════════╪══════════╪═════════╪═════════╪═══╪═════════╪═════════╪═════════╪═════════╡
│ count    ┆ 1.2e6    ┆ 1.18129 ┆ 1200000 ┆ … ┆ 1200000 ┆ 1200000 ┆ 1200000 ┆ 1.2e6   │
│          ┆          ┆ 5e6     ┆         ┆   ┆         ┆         ┆         ┆         │
│ null_cou ┆ 0.0      ┆ 18705.0 ┆ 0       ┆ … ┆ 0       ┆ 0       ┆ 0       ┆ 0.0     │
│ nt       ┆          ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ mean     ┆ 599999.5 ┆ 41.1455 ┆ null    ┆ … ┆ null    ┆ null    ┆ null    ┆ 1102.54 │
│          ┆          ┆ 63      ┆         ┆   ┆         ┆         ┆         ┆ 4822    │
│ std      ┆ 346410.3 ┆ 13.5399 ┆ null    ┆ … ┆ null    ┆ null    ┆ null    ┆ 864.998 │
│          ┆ 05851    ┆ 5       ┆         ┆   ┆         ┆         ┆         ┆ 859     │
│ min      ┆ 0.0      ┆ 18.0    ┆ Female  ┆ … ┆ No      ┆ Daily   ┆ Apartme ┆ 20.0    │
│          ┆          ┆         ┆         ┆   ┆         ┆         ┆ nt      ┆         │
│ 25%      ┆ 300000.0 ┆ 30.0    ┆ null    ┆ … ┆ null    ┆ null    ┆ null    ┆ 514.0   │
│ 50%      ┆ 600000.0 ┆ 41.0    ┆ null    ┆ … ┆ null    ┆ null    ┆ null    ┆ 872.0   │
│ 75%      ┆ 899999.0 ┆ 53.0    ┆ null    ┆ … ┆ null    ┆ null    ┆ null    ┆ 1509.0  │
│ max      ┆ 1.199999 ┆ 64.0    ┆ Male    ┆ … ┆ Yes     ┆ Weekly  ┆ House   ┆ 4999.0  │
│          ┆ e6       ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
└──────────┴──────────┴─────────┴─────────┴───┴─────────┴─────────┴─────────┴─────────┘

In [8]:
data["Occupation"].value_counts()

shape: (4, 2)
┌───────────────┬────────┐
│ Occupation    ┆ count  │
│ ---           ┆ ---    │
│ str           ┆ u32    │
╞═══════════════╪════════╡
│ null          ┆ 358075 │
│ Unemployed    ┆ 276530 │
│ Employed      ┆ 282750 │
│ Self-Employed ┆ 282645 │
└───────────────┴────────┘

In [9]:
data = data.with_columns(
    pl.col("Occupation").fill_null("Unknown")
)

In [10]:
data["Occupation"].value_counts()

shape: (4, 2)
┌───────────────┬────────┐
│ Occupation    ┆ count  │
│ ---           ┆ ---    │
│ str           ┆ u32    │
╞═══════════════╪════════╡
│ Employed      ┆ 282750 │
│ Self-Employed ┆ 282645 │
│ Unemployed    ┆ 276530 │
│ Unknown       ┆ 358075 │
└───────────────┴────────┘

In [11]:
data = data.drop_nulls()

In [12]:
data.shape

(548554, 21)

In [15]:
import polars.selectors as cs

In [13]:
data = data.drop(["Policy Start Date", "id", "Customer Feedback", "Credit Score"])

In [16]:
df = data.to_dummies(cs.string(), separator = "_", drop_first = True)

In [17]:
df.shape

(548554, 27)

In [ ]:
y = df["Premium Amount"]
X = df.drop("Premium Amount")